header {
 /*     background: rgba(37, 5, 39, 0.81);
    background: linear-gradient(180deg, rgba(66, 14, 109, 0.81) 60%, rgb(59, 18, 92) 60%, rgb(5, 59, 71) 100%);
  */
    font-weight: 100;
    width: 60%;
    max-width: 300px;
    margin: auto auto;
    height: 50px;
    background-color: #01ffeebd;
    padding-top: 0.5rem;
}







.head__logo {
    font-family: 'Open Sans', sans-serif;
    color: #5f0404;
    font-size: 3rem;
    position: inherit;
    margin-top: 0.7rem;
    margin-left: 0.3rem;
    position: absolute;
    transform: rotate(-16deg);
}

.nav nav-pills nav-fill {
    background: rgba(0, 158, 140, 0.985);
    
 
    text-align: right;
    color: #5eff00;
}
.nav-item {
    background: rgba(43, 0, 255, 0.985);
    
   
   
}
.a{
    color: #000000; 
}
.nav-link-color{
    color: #000000;
} 
.nav-pills-link-active-color{
    background: rgba(14, 8, 14, 0.81);
} 
.nav-pills-link-active-bg{
    color: #000000;
}
.nav-pills{
    background: rgba(14, 8, 14, 0.81);
    background: linear-gradient(180deg, rgba(0, 183, 255, 0.81) 60%, rgb(0, 183, 255, 0.81) 60%, rgb(0, 183, 255, 0.81) 100%);
 
}
.nav-fill{
    background: rgba(14, 8, 14, 0.81);
    background: linear-gradient(180deg, , rgba(0, 183, 255, 0.81) 60%, rgba(0, 183, 255, 0.81) 60%, rgba(0, 183, 255, 0.81) 100%);
 
}

.head__enlace  li:nth-child(1n) {
    display: none;
}

.head__enlace  li:last-child {
    display: block;
    margin-right: 10px;
    font-weight: bolder;
}

@media screen and (min-width: 970px) {

    .head__enlace  li:nth-child(1n) {
        display: block;
    }

    .head__enlace {
        display: flex;
        justify-content: end;
        gap: 1.5rem;
    }

    .head__enlace-link:hover {
        border-bottom: 1px solid #000000;
    }
}

@media screen and (min-width: 1232px) {
    header {
        height: 50px;
    }

    .head__forma-base {
        border-top: 100px solid #14031b;
        border-right: 500px solid transparent;
    }

    .head__logo {
        font-size: 3rem;
        transform: rotate(-17deg);
        margin-top: 2rem;
        margin-left: 0.5rem;
    }

    .head__enlace {
        gap: 2rem;
        font-size: 1.5rem;
        padding-top: 10px;
    }

    .head__enlace-link:hover {
        border-bottom: 1px solid #05f9acd2;
    }

}

@media screen and (min-width: 1500px) {
    .head__forma-base {
        border-top: 130px solid #07bff8;
        border-right: 800px solid transparent;
    }

    .head__logo {
        font-size: 4rem;
        margin-top: 3rem;
        margin-left: 1.2rem;
        position: absolute;
        transform: rotate(-15deg);
    }
}
