.presentacion {
    background: rgb(255, 251, 0);
    background: linear-gradient(180deg, rgb(3, 83, 162) 60%, rgb(202, 220, 172) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #72ce56;
    padding-top: .5%;
 

}
.container my-5{
    background: rgb(158, 241, 140);
   
}

 .contenedor {
	margin: auto;
	display: table;
    
}
.bg-image{
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.5;
    
}


h1 { 
	position: relative; 
	float: left;
	
	color: #00ffdd;
	font-size: 2.4em;
    padding: .5rem;
}

h1 span {
    position:absolute;
    right:0;
    width:0;
    background: rgb(24, 225, 10);
    border-left: .5px solid #0e2a91;
    font-size: 1.3em;
    animation: escribir 5s steps(30) infinite alternate;
}

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}
.presentacion__quienSoy {
    padding: 1rem;
}
.presentacion__foto {
   /*  display: flex;
    justify-content: center;
    */
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius:  .5px;
    
    
    
}

.presentacion__icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
    margin-bottom: 5px;
}

.presentacion__icons img{
    width: 50px;
}

/* .presentacion__nombre {
    width: 100%;
} */

.titulo {
    font-family: 'Orbitron', sans-serif;
    /* color: #e6e3e9; */
    font-size: 4rem;
    font-weight: 300;
    align-self: center;
    text-align: center;
    color: #00ff62;
    padding: 1rem;
}
.titulo2 {
    font-family: 'Orbitron', sans-serif;
   /*  color: #e3d8ec; */
    font-size: rem;
    font-weight: 200;
    align-self: center;
    text-align: center;
    color: #b09327;
    padding: 1rem;
}
.titulo3{
    font-family: 'Orbitron', sans-serif;
   /*  color: #e3d8ec; */
    font-size: 2rem;
    font-weight: 200;
    align-self: center;
    text-align: center;
    color: #9b0d0d;
    padding: 1rem;
}

.contenido {
    color: #ff00bb;
    font-size: 1rem;
    line-height: 1;
    text-align: justify;
    color: #00c8ff;
   
}
#img-perfil{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    padding-top: 2%;
}

@media screen and (min-width: 700px) {
    .presentacion {
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 1%;
        gap: 10px;
    }

    .presentacion__foto {
        
        width: 100px;
    }

    .presentacion__foto-redes {
        width: 150px;
    }

    .contenido {
        font-size: 1rem;
    }
}
