.sobre {
    background: rgb(0, 251, 255);
    background: linear-gradient(180deg, rgb(0, 72, 131) 30%, rgb(0, 255, 170) 100%);
    
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: auto;
    padding-bottom: .5rem;
    
}
.Sobre {
  background: rgb(0, 97, 188);
  
}
.sobre__project img {
  display: flex;
  flex-direction:column;
    width: 100%;
    
}

.sobre__project {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: #e3d8ec;
}

.sobre__project-titulo2 {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1;
    padding: .2rem;
    color: #e3d8ec;
}





.sobre{
  display:flex;
  flex-direction:column;
  
  width:420px;
  border: 1px solid rgb(223, 168, 0);
  box-shadow: 2px 2px 8px 4px #eeff00d1;
  border-radius:15px;
  font-family: courier;
}
.titulo{
  font-size: 24px;
  padding: 10px 10px 3px 10px;;
}
.cuerpo{
  padding: 2px;
}
.pie{
 
background: #bfff00;
  border-radius:0 0 15px 15px;
  padding: 10px;
  text-align:center;

}

.pie a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: ""
}


.contenedor{
display: flex;
justify-content:center;
background-color: transparent;
flex-wrap:wrap;
gap: 16px;
}

.tarjeta{
display:flex;
flex-direction:column;
justify-content:space-between;
width: auto;
border: 1px solid rgb(161, 216, 67);
box-shadow: 2px 2px 8px 4px #0bbe2fd1;
border-radius:15px;
font-family: courier;
}
.titulo{
font-size: 24px;
padding: 10px 10px 0 10px;;
}
.cuerpo{
padding: 10px;
flex: 1 1 100%;
}
.pie{
background: #6699ff;
border-radius:0 0 15px 15px;
padding: 10px;
text-align:center;
}
.pie a{
text-decoration: none;
color: rgb(162, 45, 45);
}
.pie a:after {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1;
content: ""
}

 